@{
    ViewData["Title"] = "Редактирай промоция";
}
@model PromotionViewModel

<div class="container" style="margin-top: 2em;">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>@ViewData["Title"]</h2>
        </div>
        <hr />

        <form asp-action="Edit" method="post">
            <input asp-for="Id" type="hidden" />
            <div class="form-group mb-3">
                <label for="Name">Име на Промоция</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="ImageUrl">URL на Снимка</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="DiscountPercentage">Процент Отстъпка</label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="StartDate">Начална Дата</label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="EndDate">Крайна Дата</label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Редактирай</button>
        </form>
    </div>
</div>