@{
    ViewData["Title"] = "Реално и вълшебно";
}


<!-- SECTION -->
<div class="section py-5">
    <!-- container -->
    <div class="container">
        <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
        <div class="row justify-content-center">            
                <section>
                    <h2>Политика за поверителност</h2>
                    <p>
                        Вашето поверителност е важна за нас. Тук ще обясним това как събираме, използваме и защитаваме вашите лични данни.
                    </p>
                    <h3>Какви данни събираме?</h3>
                    <p>
                        Събираме лични данни като имейл адрес, парола и друга информация, предоставена от вас по време на регистрацията и използването на нашите услуги.
                    </p>
                    <h3>Как използваме вашите данни?</h3>
                    <p>
                        Вашите данни се използват за създаване и поддържане на вашия акаунт, обработка на поръчки, изпращане на известия и подобряване на услугите ни.
                    </p>
                    <h3>Как защитаваме вашите данни?</h3>
                    <p>
                        Съхраняваме вашите данни със съвременни методи за сигурност и предприемаме всички необходими мерки, за да ги защитим от неоторизиран достъп или злоупотреба.
                    </p>
                    <h3>Вашите права</h3>
                    <p>
                        Вие имате право да достъпвате, коригирате или изтривате вашите лични данни по всяко време.
                    </p>
                    <p>
                        Ако имате въпроси относно нашата Политика за поверителност, моля, свържете се с нас.
                    </p>
                </section>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
