@page
@using ToyShop.Web.Areas.Identity.Pages.Account

@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<!-- SECTION -->
<div class="section py-5">
    <!-- container -->
    <div class="container">
        <h1 class="mb-4 text-left">@ViewData["Title"]</h1>

        <div class="row justify-content-center">
            <div class="col-md-5 mb-5">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-4 border rounded shadow-sm">
                    <h2 class="mb-4">Създай профил.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                    <div class="form-floating mb-4" style="margin-top: 1em;">
                        <label asp-for="Input.Email" class="form-label">Имейл</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4" style="margin-top: 1em;">
                        <label asp-for="Input.Password" class="form-label">Парола</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4" style="margin-top: 1em;">
                        <label asp-for="Input.ConfirmPassword" class="form-label">Потвърди парола</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-primary" style="margin-top: 1em;"> Регистрация</button>
                </form>
            </div>            
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}