html {
    font-size: 14px;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.slick-prev, .slick-next {
    top: 107%;
}

.slick-prev {
    left: 30%;
}

.slick-next {
    right: 30%;
}

@media (max-width: 1400px) {
    #hot-deal.section {
        background-image: none !important; /* Remove background image on smaller screens */
        background-color: #E4E7ED;
    }
}


.slick-prev:focus, .slick-next:focus {
    background-color: white; /* Maintain background */
    border-color: transparent; /* Keep border transparent */
}

    .slick-prev:focus:before, .slick-next:focus:before {
        color: #2B2D42; /* Default color */
    }

/* Add hover effect to override focus state */
.slick-prev:hover:before, .slick-next:hover:before {
    color: #FFF; /* Replace with the color for hover */
}

.slick-prev:hover, .slick-next:hover {
    background-color: #D10024; /* Replace with your hover background color */
    border-color: #D10024; /* Replace with your hover border color */
}

#newsletter.section {
    border: none;
}
ul .loginLi {
    padding-bottom: 0.5em ;
}

loginBtn {
    padding-bottom: 0.5em;
}