@model StoreViewModel
@{
    ViewData["Title"] = "Играчки";
}

<div>
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">All Categories</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li class="active">Headphones (227,490 Results)</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Категории</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-1">
                                <label for="category-1">
                                    <span></span>
                                    Играчки
                                    <small>(120)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-2">
                                <label for="category-2">
                                    <span></span>
                                    Аксесоари
                                    <small>(740)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-3">
                                <label for="category-3">
                                    <span></span>
                                    Декорации
                                    <small>(1450)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-4">
                                <label for="category-4">
                                    <span></span>
                                    Други
                                    <small>(578)</small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Цена</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Вид</h3>
                        <div class="checkbox-filter">
                            @foreach (var category in Model.AllCategories)
                            {
                                <!-- Category -->
                                <partial name="_CategoryPartial" model="category"></partial>
                                <!-- /Category -->
                            }
                        </div>
                    </div>
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- Store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Подреди по:
                                <select class="input-select" id="sortBy" data-sort-by="@ViewData["SortBy"]" onchange="updateFilter()">
                                    <option value="rating">Рейтинг</option> <!-- Default: Sort by Rating -->
                                    <option value="price_asc">Цена &#x25B2;</option> <!-- Sort by Price Ascending -->
                                    <option value="price_desc">Цена &#x25BC;</option> <!-- Sort by Price Descending -->
                                    <option value="name_asc">Име &#x25B2;</option> <!-- Sort by Name Ascending -->
                                    <option value="name_desc">Име &#x25BC;</option> <!-- Sort by Name Descending -->

                                </select>
                            </label>

                            <label>
                                Покажи:
                                <select class="input-select" id="pageSize" data-page-size="@ViewData["PageSize"]" onchange="updateFilter()">
                                    <option value="9">9</option>
                                    <option value="18">18</option>
                                    <option value="27">27</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        @foreach (var product in Model.AllProducts)
                        {
                            <partial name="_ProductCardPartial" model="product"></partial>
                        }
                        <!-- /product -->
                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing 20-100 products</span>
                        <ul class="store-pagination">
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>

<script src="~/js/store-filter.js"></script>
